<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>TP2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>connexion.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FacadeServlet</display-name>
    <servlet-name>FacadeServlet</servlet-name>
    <servlet-class>tp2.FacadeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacadeServlet</servlet-name>
    <url-pattern>/FacadeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletWelcome</display-name>
    <servlet-name>ServletWelcome</servlet-name>
    <servlet-class>tp2.ServletWelcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletWelcome</servlet-name>
    <url-pattern>/ServletWelcome</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>tp2.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/LoginFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>NbConFilter</display-name>
    <servlet-name>NbConFilter</servlet-name>
    <servlet-class>tp2.NbConFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NbConFilter</servlet-name>
    <url-pattern>/NbConFilter</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>NbConFilter</display-name>
    <filter-name>NbConFilter</filter-name>
    <filter-class>tp2.NbConFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NbConFilter</filter-name>
    <url-pattern>/NbConFilter</url-pattern>
  </filter-mapping>
</web-app>